@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*
{
    scrollbar-gutter: unset;
}
*::-webkit-scrollbar{
    width: 8px;
}

*::-webkit-scrollbar-track
{
    background-color:#fff;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb
{
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
    max-width: 4px;
    border: #fff solid 1px;
}
*::-webkit-scrollbar-thumb:hover
{
    width: 10px;
    background-color: rgb(100, 99, 99);
    border-radius: 10px;
    border: #fff solid 1px;
}